<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C1 - CAPABILITY MAP</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C1 - CAPABILITY MAP</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-327d6dbd9fb046fc92c3903e9d8ff7f8.png" alt="C1 - CAPABILITY MAP" usemap="#id-327d6dbd9fb046fc92c3903e9d8ff7f8map"/>
			   <map name="id-327d6dbd9fb046fc92c3903e9d8ff7f8map">
				  								<area shape="rect" coords="1137,622,1257,677" href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html"  target="element">
				  								<area shape="rect" coords="1006,622,1126,677" href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html"  target="element">
				  								<area shape="rect" coords="1270,622,1390,677" href="../elements/id-9b00aef710094af499efaa749be46980.html"  target="element">

				  						<area shape="rect" coords="994,574,1403,707" href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html"  target="element">
				  								<area shape="rect" coords="1270,478,1390,533" href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html"  target="element">
				  								<area shape="rect" coords="1138,478,1258,533" href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html"  target="element">
				  								<area shape="rect" coords="1006,478,1126,533" href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html"  target="element">

				  						<area shape="rect" coords="994,430,1403,563" href="../elements/id-a97f58ca5858423e876866d13362f146.html"  target="element">
				  								<area shape="rect" coords="1144,334,1264,389" href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html"  target="element">
				  								<area shape="rect" coords="1270,334,1390,389" href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html"  target="element">
				  								<area shape="rect" coords="1006,334,1126,389" href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html"  target="element">

				  						<area shape="rect" coords="994,286,1403,419" href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html"  target="element">
				  								<area shape="rect" coords="1270,190,1390,245" href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html"  target="element">
				  								<area shape="rect" coords="1138,187,1258,242" href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html"  target="element">
				  								<area shape="rect" coords="1006,190,1126,245" href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html"  target="element">

				  						<area shape="rect" coords="994,142,1403,275" href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html"  target="element">

				  				<area shape="rect" coords="970,94,1415,731" href="../elements/id-5581bb16c14b4a738c40319473862363.html"  target="element">
				  								<area shape="rect" coords="538,478,658,533" href="../elements/id-8db2caaa7ee442618626645d92ae96fe.html"  target="element">
				  								<area shape="rect" coords="664,478,784,533" href="../elements/id-5922dac9100d445bb241d1c425db77ad.html"  target="element">
				  								<area shape="rect" coords="790,478,910,533" href="../elements/id-25e11bd435ea4eb090b75dd9e45559a5.html"  target="element">

				  						<area shape="rect" coords="526,430,935,563" href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html"  target="element">
				  								<area shape="rect" coords="675,334,795,389" href="../elements/id-2387c8698f0742a0b64cb66dc64f97df.html"  target="element">
				  								<area shape="rect" coords="802,334,922,389" href="../elements/id-c6797210dab84e34b1b2606370d7e390.html"  target="element">
				  								<area shape="rect" coords="538,334,658,389" href="../elements/id-bbbaf48155c24ca4ab0052f228d53c0f.html"  target="element">

				  						<area shape="rect" coords="526,286,935,419" href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html"  target="element">
				  								<area shape="rect" coords="538,190,658,245" href="../elements/id-75f6387bee384621b8e892fb492cd0e1.html"  target="element">
				  								<area shape="rect" coords="802,190,922,245" href="../elements/id-6bc6f1bf7624486583625a398def2f54.html"  target="element">
				  								<area shape="rect" coords="670,190,790,245" href="../elements/id-341a55267cfe42818255562c2f1ef2a6.html"  target="element">

				  						<area shape="rect" coords="526,142,935,275" href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html"  target="element">

				  				<area shape="rect" coords="502,94,947,731" href="../elements/id-b99e61cfc17249048aad98956667b969.html"  target="element">
				  								<area shape="rect" coords="334,610,454,665" href="../elements/id-891840fc18c54c13bedcc10a429fc5dd.html"  target="element">
				  								<area shape="rect" coords="70,610,190,665" href="../elements/id-4011c02151be48599d9a3693abe8d5ff.html"  target="element">
				  								<area shape="rect" coords="202,610,322,665" href="../elements/id-747f1c95c6384b0e88bc7f61883f4f6b.html"  target="element">

				  						<area shape="rect" coords="58,574,467,707" href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html"  target="element">
				  								<area shape="rect" coords="210,459,330,514" href="../elements/id-8398a760a9bf459984b9ba7ba61d693c.html"  target="element">
				  								<area shape="rect" coords="346,459,466,514" href="../elements/id-7e01bea0798d4f50a835c02b406bfc66.html"  target="element">
				  								<area shape="rect" coords="70,459,190,514" href="../elements/id-16ad75dc6f04440a9cfb4643ca376b6e.html"  target="element">

				  						<area shape="rect" coords="58,430,467,563" href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html"  target="element">
				  								<area shape="rect" coords="70,322,190,377" href="../elements/id-3ae0b16e95d7451ca40e215d57ecb13d.html"  target="element">
				  								<area shape="rect" coords="210,322,330,377" href="../elements/id-3db50cf24639461c9a540846cb5398e8.html"  target="element">
				  								<area shape="rect" coords="346,322,466,377" href="../elements/id-4209964f65684030a49d6bb9fa609fc7.html"  target="element">

				  						<area shape="rect" coords="58,286,467,419" href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html"  target="element">
				  								<area shape="rect" coords="71,178,191,233" href="../elements/id-f574bb98ff824ce19634721c2a05aa55.html"  target="element">
				  								<area shape="rect" coords="335,178,455,233" href="../elements/id-003d997431ac4747a27ce1388ff712f4.html"  target="element">
				  								<area shape="rect" coords="202,178,322,233" href="../elements/id-49d93ef5d62240af93cac7883266282a.html"  target="element">

				  						<area shape="rect" coords="58,142,467,275" href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html"  target="element">

				  				<area shape="rect" coords="34,94,479,731" href="../elements/id-2544b46903ed471fba2615b5e4441043.html"  target="element">

				  		<area shape="rect" coords="10,10,1439,755" href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html" target="element"> Capabilities der Schadenvermeidungsagentur </a> </td>
											    <td> <a href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
													    <td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element"> Schadenmanagement </a> </td>
															    <td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-49d93ef5d62240af93cac7883266282a.html" target="element"> Schadenbearbeitung </a> </td>
																	    <td> <a href="../elements/id-49d93ef5d62240af93cac7883266282a.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-003d997431ac4747a27ce1388ff712f4.html" target="element"> Schadenauszahlung </a> </td>
																	    <td> <a href="../elements/id-003d997431ac4747a27ce1388ff712f4.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f574bb98ff824ce19634721c2a05aa55.html" target="element"> Schadenaufnahme </a> </td>
																	    <td> <a href="../elements/id-f574bb98ff824ce19634721c2a05aa55.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element"> Produktmanagement </a> </td>
															    <td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-4209964f65684030a49d6bb9fa609fc7.html" target="element"> Tarifierung </a> </td>
																	    <td> <a href="../elements/id-4209964f65684030a49d6bb9fa609fc7.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3db50cf24639461c9a540846cb5398e8.html" target="element"> Produktpflege </a> </td>
																	    <td> <a href="../elements/id-3db50cf24639461c9a540846cb5398e8.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3ae0b16e95d7451ca40e215d57ecb13d.html" target="element"> Produktentwicklung </a> </td>
																	    <td> <a href="../elements/id-3ae0b16e95d7451ca40e215d57ecb13d.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element"> Vertrieb </a> </td>
															    <td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-16ad75dc6f04440a9cfb4643ca376b6e.html" target="element"> Direktvertrieb </a> </td>
																	    <td> <a href="../elements/id-16ad75dc6f04440a9cfb4643ca376b6e.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-7e01bea0798d4f50a835c02b406bfc66.html" target="element"> Agenturvertrieb </a> </td>
																	    <td> <a href="../elements/id-7e01bea0798d4f50a835c02b406bfc66.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8398a760a9bf459984b9ba7ba61d693c.html" target="element"> Maklervertrieb </a> </td>
																	    <td> <a href="../elements/id-8398a760a9bf459984b9ba7ba61d693c.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element"> Underwriting </a> </td>
															    <td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-747f1c95c6384b0e88bc7f61883f4f6b.html" target="element"> Policierung </a> </td>
																	    <td> <a href="../elements/id-747f1c95c6384b0e88bc7f61883f4f6b.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4011c02151be48599d9a3693abe8d5ff.html" target="element"> Risikobeurteilung </a> </td>
																	    <td> <a href="../elements/id-4011c02151be48599d9a3693abe8d5ff.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-891840fc18c54c13bedcc10a429fc5dd.html" target="element"> Antragsbearbeitung </a> </td>
																	    <td> <a href="../elements/id-891840fc18c54c13bedcc10a429fc5dd.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element"> Strategy Capabilities </a> </td>
													    <td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element"> Personal </a> </td>
															    <td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-341a55267cfe42818255562c2f1ef2a6.html" target="element"> Recruiting </a> </td>
																	    <td> <a href="../elements/id-341a55267cfe42818255562c2f1ef2a6.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-6bc6f1bf7624486583625a398def2f54.html" target="element"> Verg&#252;tungsmanagement </a> </td>
																	    <td> <a href="../elements/id-6bc6f1bf7624486583625a398def2f54.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-75f6387bee384621b8e892fb492cd0e1.html" target="element"> Personalentwicklung </a> </td>
																	    <td> <a href="../elements/id-75f6387bee384621b8e892fb492cd0e1.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element"> Marketing </a> </td>
															    <td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-bbbaf48155c24ca4ab0052f228d53c0f.html" target="element"> Markenmanagement </a> </td>
																	    <td> <a href="../elements/id-bbbaf48155c24ca4ab0052f228d53c0f.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c6797210dab84e34b1b2606370d7e390.html" target="element"> Kundenanalyse </a> </td>
																	    <td> <a href="../elements/id-c6797210dab84e34b1b2606370d7e390.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-2387c8698f0742a0b64cb66dc64f97df.html" target="element"> Kampagnenmanagement </a> </td>
																	    <td> <a href="../elements/id-2387c8698f0742a0b64cb66dc64f97df.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element"> Unternehmensstrategie </a> </td>
															    <td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-25e11bd435ea4eb090b75dd9e45559a5.html" target="element"> Innovationsmanagement </a> </td>
																	    <td> <a href="../elements/id-25e11bd435ea4eb090b75dd9e45559a5.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5922dac9100d445bb241d1c425db77ad.html" target="element"> Marktanalyse </a> </td>
																	    <td> <a href="../elements/id-5922dac9100d445bb241d1c425db77ad.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8db2caaa7ee442618626645d92ae96fe.html" target="element"> Strategische Planung </a> </td>
																	    <td> <a href="../elements/id-8db2caaa7ee442618626645d92ae96fe.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
													    <td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
															    <td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element"> Kundenbetreuung </a> </td>
																	    <td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element"> Beschwerdemanagement </a> </td>
																	    <td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element"> Vertrags&#228;nderungen </a> </td>
																	    <td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
															    <td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element"> Aktuariat </a> </td>
																	    <td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element"> R&#252;ckversicherung </a> </td>
																	    <td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element"> Compliance </a> </td>
																	    <td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
															    <td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element"> Rechnungswesen </a> </td>
																	    <td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element"> Controlling </a> </td>
																	    <td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element"> Kapitalanlagen </a> </td>
																	    <td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
															    <td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element"> Digitale Transformation </a> </td>
																	    <td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element"> IT-Infrastruktur </a> </td>
																	    <td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element"> Anwendungsentwicklung </a> </td>
																	    <td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1dbf94df74cf4e829bd268576dacb3ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dbf94df74cf4e829bd268576dacb3ad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html" target="element"> Capabilities der Schadenvermeidungsagentur </a> </td>
																		<td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdb6d038cbae4a2dbf6857ee30d94f12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdb6d038cbae4a2dbf6857ee30d94f12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html" target="element"> Capabilities der Schadenvermeidungsagentur </a> </td>
																		<td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element"> Strategy Capabilities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ac1c1a4cf7d4c30ad9c6f12dee98f76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ac1c1a4cf7d4c30ad9c6f12dee98f76.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6cc01ef03f8f4f2291b659e29cd672ed.html" target="element"> Capabilities der Schadenvermeidungsagentur </a> </td>
																		<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-33a92ae5d7414fbd97528df6955d02ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33a92ae5d7414fbd97528df6955d02ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
																				<td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element"> Schadenmanagement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-35d2009839214de2ab55749c451fc087.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-35d2009839214de2ab55749c451fc087.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
																				<td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element"> Produktmanagement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7233c66e38fb4843b9eb65c4de6c874e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7233c66e38fb4843b9eb65c4de6c874e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
																				<td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element"> Vertrieb </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3d17acd18ba84bf6b5e03d960ad98526.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d17acd18ba84bf6b5e03d960ad98526.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2544b46903ed471fba2615b5e4441043.html" target="element"> Core Capabilities </a> </td>
																				<td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element"> Underwriting </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-824cfebe90c7452282f49ad11b873844.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-824cfebe90c7452282f49ad11b873844.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element"> Schadenmanagement </a> </td>
																						<td> <a href="../elements/id-49d93ef5d62240af93cac7883266282a.html" target="element"> Schadenbearbeitung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-275d02d54f0e481dae5f4bbe3908c136.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-275d02d54f0e481dae5f4bbe3908c136.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element"> Schadenmanagement </a> </td>
																						<td> <a href="../elements/id-003d997431ac4747a27ce1388ff712f4.html" target="element"> Schadenauszahlung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5009075fcd4240be8e3818caa00f7706.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5009075fcd4240be8e3818caa00f7706.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0364ff0f725b45fa80e43dd8422a18bc.html" target="element"> Schadenmanagement </a> </td>
																						<td> <a href="../elements/id-f574bb98ff824ce19634721c2a05aa55.html" target="element"> Schadenaufnahme </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-378f88732e754fb888b5007da427857b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-378f88732e754fb888b5007da427857b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element"> Produktmanagement </a> </td>
																						<td> <a href="../elements/id-3db50cf24639461c9a540846cb5398e8.html" target="element"> Produktpflege </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2c2cc0a09d7c489e8bf6b2165e52ddcc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2c2cc0a09d7c489e8bf6b2165e52ddcc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element"> Produktmanagement </a> </td>
																						<td> <a href="../elements/id-3ae0b16e95d7451ca40e215d57ecb13d.html" target="element"> Produktentwicklung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ff991f1924374cd3b14919d3f23c4f28.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ff991f1924374cd3b14919d3f23c4f28.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b689cbc79f40cfb54bfdd52acbaee8.html" target="element"> Produktmanagement </a> </td>
																						<td> <a href="../elements/id-4209964f65684030a49d6bb9fa609fc7.html" target="element"> Tarifierung </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-5a72d8d4e58f41b5a6bbe4b3010acc22.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5a72d8d4e58f41b5a6bbe4b3010acc22.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element"> Vertrieb </a> </td>
																						<td> <a href="../elements/id-16ad75dc6f04440a9cfb4643ca376b6e.html" target="element"> Direktvertrieb </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-a8e657c902bc4103a5ddfc708b64cd0f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a8e657c902bc4103a5ddfc708b64cd0f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element"> Vertrieb </a> </td>
																						<td> <a href="../elements/id-7e01bea0798d4f50a835c02b406bfc66.html" target="element"> Agenturvertrieb </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-a41fcf55e7354b7f9c2e82d03ec2e9b5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a41fcf55e7354b7f9c2e82d03ec2e9b5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9d67e57b48db43438a9565f1ffece43d.html" target="element"> Vertrieb </a> </td>
																						<td> <a href="../elements/id-8398a760a9bf459984b9ba7ba61d693c.html" target="element"> Maklervertrieb </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-d387b60699724ff3b25f8ffca5060a0e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d387b60699724ff3b25f8ffca5060a0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element"> Underwriting </a> </td>
																						<td> <a href="../elements/id-891840fc18c54c13bedcc10a429fc5dd.html" target="element"> Antragsbearbeitung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-013a0c254b2d49b2962e6254df9f7373.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-013a0c254b2d49b2962e6254df9f7373.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element"> Underwriting </a> </td>
																						<td> <a href="../elements/id-747f1c95c6384b0e88bc7f61883f4f6b.html" target="element"> Policierung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3ece4c43f6204463b52e82708fa291d4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3ece4c43f6204463b52e82708fa291d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-55b8cf6015704bc2b09b47e4e0afcc37.html" target="element"> Underwriting </a> </td>
																						<td> <a href="../elements/id-4011c02151be48599d9a3693abe8d5ff.html" target="element"> Risikobeurteilung </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-2501ab8cfe0e436795ed68d402ed5e63.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2501ab8cfe0e436795ed68d402ed5e63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element"> Strategy Capabilities </a> </td>
																				<td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element"> Personal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ad02e65dbff244d6b54ac85fd53ce3f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad02e65dbff244d6b54ac85fd53ce3f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element"> Strategy Capabilities </a> </td>
																				<td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element"> Marketing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4b2d6eae39b6480687905ee3d1699e5e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b2d6eae39b6480687905ee3d1699e5e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b99e61cfc17249048aad98956667b969.html" target="element"> Strategy Capabilities </a> </td>
																				<td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element"> Unternehmensstrategie </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-c7b71096ba094db38fd5e058202da73f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c7b71096ba094db38fd5e058202da73f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element"> Personal </a> </td>
																						<td> <a href="../elements/id-75f6387bee384621b8e892fb492cd0e1.html" target="element"> Personalentwicklung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-8be06dd21559459e8e534a652e119648.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8be06dd21559459e8e534a652e119648.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element"> Personal </a> </td>
																						<td> <a href="../elements/id-341a55267cfe42818255562c2f1ef2a6.html" target="element"> Recruiting </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-44768c4cca4a47019d3cfb1dfe5bc44a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-44768c4cca4a47019d3cfb1dfe5bc44a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f8b43c423bf94c2eba9c9f9545d153b6.html" target="element"> Personal </a> </td>
																						<td> <a href="../elements/id-6bc6f1bf7624486583625a398def2f54.html" target="element"> Verg&#252;tungsmanagement </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-75cd066310ed4faa8ddea6dc9aadeef1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-75cd066310ed4faa8ddea6dc9aadeef1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element"> Marketing </a> </td>
																						<td> <a href="../elements/id-c6797210dab84e34b1b2606370d7e390.html" target="element"> Kundenanalyse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7f82d0d5e8094d2793554bcd23ab98a1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7f82d0d5e8094d2793554bcd23ab98a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element"> Marketing </a> </td>
																						<td> <a href="../elements/id-bbbaf48155c24ca4ab0052f228d53c0f.html" target="element"> Markenmanagement </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d30c1d0e0ac744c0bb0bce445ed66f26.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d30c1d0e0ac744c0bb0bce445ed66f26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4f7e1887a1254133b95cfdaa742887b6.html" target="element"> Marketing </a> </td>
																						<td> <a href="../elements/id-2387c8698f0742a0b64cb66dc64f97df.html" target="element"> Kampagnenmanagement </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-d24073813b224a29bdca21979497c8bc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d24073813b224a29bdca21979497c8bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element"> Unternehmensstrategie </a> </td>
																						<td> <a href="../elements/id-5922dac9100d445bb241d1c425db77ad.html" target="element"> Marktanalyse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c7495434fc77423391ceda5568affc70.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c7495434fc77423391ceda5568affc70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element"> Unternehmensstrategie </a> </td>
																						<td> <a href="../elements/id-25e11bd435ea4eb090b75dd9e45559a5.html" target="element"> Innovationsmanagement </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9e22661656494be98e451ee678a4fef4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9e22661656494be98e451ee678a4fef4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0befc2a8a7ec4e4c92e948c57002249f.html" target="element"> Unternehmensstrategie </a> </td>
																						<td> <a href="../elements/id-8db2caaa7ee442618626645d92ae96fe.html" target="element"> Strategische Planung </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-0781116f97ef43728cbee1beb9781deb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0781116f97ef43728cbee1beb9781deb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																				<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0611528e7a524b10a3642223e1825f51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0611528e7a524b10a3642223e1825f51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																				<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08be3c9239e54f65a373fd80457aaa21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08be3c9239e54f65a373fd80457aaa21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																				<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-53ffea3b36db40dfb8c1fd96b17062ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53ffea3b36db40dfb8c1fd96b17062ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																				<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-73491cff2c8f4bb68ad9830b5251c6de.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-73491cff2c8f4bb68ad9830b5251c6de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																						<td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element"> Kundenbetreuung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-09c526a864f74853ac905541db55920f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-09c526a864f74853ac905541db55920f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																						<td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element"> Vertrags&#228;nderungen </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1dbebe3e3f604a8cb1aedb5714ddfdef.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1dbebe3e3f604a8cb1aedb5714ddfdef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																						<td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element"> Beschwerdemanagement </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-67f22b3d3b8b48bd96d5eb8a4aca64e6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-67f22b3d3b8b48bd96d5eb8a4aca64e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																						<td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element"> Compliance </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-a903ed8ab3b64002896d911c97155f75.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a903ed8ab3b64002896d911c97155f75.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																						<td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element"> Aktuariat </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2e921f5ae1d4489385bbdf26df4756e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2e921f5ae1d4489385bbdf26df4756e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																						<td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element"> R&#252;ckversicherung </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-3bd00fd5a23040918d5894bd9eba9eba.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3bd00fd5a23040918d5894bd9eba9eba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																						<td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element"> Controlling </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d267199c315c4b89b6153770bad5b3f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d267199c315c4b89b6153770bad5b3f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																						<td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element"> Rechnungswesen </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ea9b326210eb4b9d91d748359392c56e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ea9b326210eb4b9d91d748359392c56e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																						<td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element"> Kapitalanlagen </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-a3a2d157353541ed85aa52dfa34db482.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a3a2d157353541ed85aa52dfa34db482.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																						<td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element"> IT-Infrastruktur </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5386258c48db48f68639fcfbddb8a0e0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5386258c48db48f68639fcfbddb8a0e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																						<td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element"> Anwendungsentwicklung </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b8a61882aed54a10a87d37da8b745741.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b8a61882aed54a10a87d37da8b745741.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																						<td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element"> Digitale Transformation </a> </td>
																					</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>