<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GroßÜbung_Auto</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gro&#223;&#220;bung_Auto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4e07e4c20fa248d1b7812aeb6dcfbf27.png" alt="GroßÜbung_Auto" usemap="#id-4e07e4c20fa248d1b7812aeb6dcfbf27map"/>
			   <map name="id-4e07e4c20fa248d1b7812aeb6dcfbf27map">
				  				<area shape="rect" coords="34,466,154,521" href="../elements/id-135c982467974691a238e3bda36639be.html"  target="element">
				  				<area shape="rect" coords="34,394,154,449" href="../elements/id-ab1e5319ce3a475e980aa8f9d3588180.html"  target="element">

				  		<area shape="rect" coords="10,346,174,551" href="../elements/id-f67c2754108647148537295ba04c2c03.html"  target="element">
				  		<area shape="rect" coords="1222,160,1415,215" href="../elements/id-d515a5a0e6c64ea1a847304a8dfb5c18.html"  target="element">
				  		<area shape="rect" coords="1330,550,1450,605" href="../elements/id-ce751b9602ff41e1b16b3e66595d7eba.html"  target="element">
				  		<area shape="rect" coords="1186,550,1306,605" href="../elements/id-991982f4c6934b138757e0e1a1085532.html"  target="element">
				  		<area shape="rect" coords="1186,454,1379,509" href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html"  target="element">
				  				<area shape="rect" coords="970,550,1090,605" href="../elements/id-c3104bb3ee40494c83d9086346a617e5.html"  target="element">

				  		<area shape="rect" coords="670,454,1115,731" href="../elements/id-714fa8dcfdb54fbbb928ae73003fb182.html"  target="element">
				  				<area shape="rect" coords="694,250,1091,371" href="../elements/id-684a7cec7bc34966ad4783b1c3fe4d78.html"  target="element">

				  		<area shape="rect" coords="670,214,1115,401" href="../elements/id-e881b440ac9a443e9f1047ca533c9c05.html"  target="element">
				  		<area shape="rect" coords="502,232,622,287" href="../elements/id-3879050fb32e46f395a330c8fa138d83.html"  target="element">
				  		<area shape="rect" coords="502,58,622,113" href="../elements/id-399739084fdd4b88859a5ea3e9f222a2.html"  target="element">
				  				<area shape="rect" coords="322,502,481,557" href="../elements/id-dc2dd51576c84766a67ba648a888c102.html"  target="element">
				  				<area shape="rect" coords="322,574,481,629" href="../elements/id-89531a0b7b07439886f1f91be0144513.html"  target="element">
				  				<area shape="rect" coords="322,646,481,701" href="../elements/id-89856de5797c4577af5f994744e259a4.html"  target="element">

				  		<area shape="rect" coords="310,454,491,731" href="../elements/id-65d16263099046cab54f0aa0e242286a.html"  target="element">
				  		<area shape="rect" coords="335,346,455,401" href="../elements/id-ed9b4aa5782f4f50bc301ed78ee9733a.html"  target="element">
				  		<area shape="rect" coords="191,346,311,401" href="../elements/id-88e3f6a5c9fa472f92ff28144f37fa08.html"  target="element">
				  		<area shape="rect" coords="670,10,1115,176" href="../elements/id-44210092d04943428458752c76d1d8ba.html"  target="element">
				  						<area shape="rect" coords="238,82,407,263" href="../elements/id-50221c1d8d714a348f08023c2c37d332.html"  target="element">
				  						<area shape="rect" coords="46,82,215,263" href="../elements/id-07c4df2fc8cf4e9b8260e07f89480434.html"  target="element">

				  				<area shape="rect" coords="34,46,431,275" href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html"  target="element">

				  		<area shape="rect" coords="10,10,455,287" href="../elements/id-518a618950cd4874ab435c150e36376b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
											    <td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html" target="element"> Embedded Linux </a> </td>
													    <td> <a href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-07c4df2fc8cf4e9b8260e07f89480434.html" target="element"> Telematik-Software </a> </td>
															    <td> <a href="../elements/id-07c4df2fc8cf4e9b8260e07f89480434.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-50221c1d8d714a348f08023c2c37d332.html" target="element"> Sicherheitssoftware </a> </td>
															    <td> <a href="../elements/id-50221c1d8d714a348f08023c2c37d332.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-44210092d04943428458752c76d1d8ba.html" target="element"> Fahrzeugnetzwerk </a> </td>
											    <td> <a href="../elements/id-44210092d04943428458752c76d1d8ba.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88e3f6a5c9fa472f92ff28144f37fa08.html" target="element"> LandAirSea SYNC GPS Tracker </a> </td>
											    <td> <a href="../elements/id-88e3f6a5c9fa472f92ff28144f37fa08.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed9b4aa5782f4f50bc301ed78ee9733a.html" target="element"> OBD-II </a> </td>
											    <td> <a href="../elements/id-ed9b4aa5782f4f50bc301ed78ee9733a.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element"> OBDConn Pro Plus </a> </td>
											    <td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-89856de5797c4577af5f994744e259a4.html" target="element"> Fehlercodes </a> </td>
													    <td> <a href="../elements/id-89856de5797c4577af5f994744e259a4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89531a0b7b07439886f1f91be0144513.html" target="element"> Motortemperatur </a> </td>
													    <td> <a href="../elements/id-89531a0b7b07439886f1f91be0144513.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc2dd51576c84766a67ba648a888c102.html" target="element"> Geschwindigkeit </a> </td>
													    <td> <a href="../elements/id-dc2dd51576c84766a67ba648a888c102.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-399739084fdd4b88859a5ea3e9f222a2.html" target="element"> CAN-Bus </a> </td>
											    <td> <a href="../elements/id-399739084fdd4b88859a5ea3e9f222a2.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3879050fb32e46f395a330c8fa138d83.html" target="element"> 5G LTE-Router </a> </td>
											    <td> <a href="../elements/id-3879050fb32e46f395a330c8fa138d83.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e881b440ac9a443e9f1047ca533c9c05.html" target="element"> Cloud </a> </td>
											    <td> <a href="../elements/id-e881b440ac9a443e9f1047ca533c9c05.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-684a7cec7bc34966ad4783b1c3fe4d78.html" target="element"> KI Plattform </a> </td>
													    <td> <a href="../elements/id-684a7cec7bc34966ad4783b1c3fe4d78.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-714fa8dcfdb54fbbb928ae73003fb182.html" target="element"> Versicherungs App </a> </td>
											    <td> <a href="../elements/id-714fa8dcfdb54fbbb928ae73003fb182.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c3104bb3ee40494c83d9086346a617e5.html" target="element"> Fahrverhalten einsehen </a> </td>
													    <td> <a href="../elements/id-c3104bb3ee40494c83d9086346a617e5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html" target="element"> Versicherungsnehmer </a> </td>
											    <td> <a href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-991982f4c6934b138757e0e1a1085532.html" target="element"> Fahrverhalten einsehen </a> </td>
											    <td> <a href="../elements/id-991982f4c6934b138757e0e1a1085532.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce751b9602ff41e1b16b3e66595d7eba.html" target="element"> Tipps zur Verbesserung erhalten </a> </td>
											    <td> <a href="../elements/id-ce751b9602ff41e1b16b3e66595d7eba.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d515a5a0e6c64ea1a847304a8dfb5c18.html" target="element"> Versicherer </a> </td>
											    <td> <a href="../elements/id-d515a5a0e6c64ea1a847304a8dfb5c18.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f67c2754108647148537295ba04c2c03.html" target="element"> Sensoren </a> </td>
											    <td> <a href="../elements/id-f67c2754108647148537295ba04c2c03.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab1e5319ce3a475e980aa8f9d3588180.html" target="element"> DUT-E S7 </a> </td>
													    <td> <a href="../elements/id-ab1e5319ce3a475e980aa8f9d3588180.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-135c982467974691a238e3bda36639be.html" target="element"> GNOM S7 </a> </td>
													    <td> <a href="../elements/id-135c982467974691a238e3bda36639be.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dde5ce366ab94c48a5c66ec97cbd69ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dde5ce366ab94c48a5c66ec97cbd69ef.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																		<td> <a href="../elements/id-3879050fb32e46f395a330c8fa138d83.html" target="element"> 5G LTE-Router </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da754271a6a8406f961f8175861dfdf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da754271a6a8406f961f8175861dfdf4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																		<td> <a href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html" target="element"> Embedded Linux </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cf2358e5a10e40328dd735843ee01742.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf2358e5a10e40328dd735843ee01742.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html" target="element"> Embedded Linux </a> </td>
																				<td> <a href="../elements/id-07c4df2fc8cf4e9b8260e07f89480434.html" target="element"> Telematik-Software </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-facc9368b5134399a1454442cc7fef1e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-facc9368b5134399a1454442cc7fef1e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-71683b65b4a2491fbbafdb4801e69770.html" target="element"> Embedded Linux </a> </td>
																				<td> <a href="../elements/id-50221c1d8d714a348f08023c2c37d332.html" target="element"> Sicherheitssoftware </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-f90a71d2f5d34ee8aa30527b35a1078f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f90a71d2f5d34ee8aa30527b35a1078f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88e3f6a5c9fa472f92ff28144f37fa08.html" target="element"> LandAirSea SYNC GPS Tracker </a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e47da25495a2453dbb18335e4cf61b34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e47da25495a2453dbb18335e4cf61b34.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed9b4aa5782f4f50bc301ed78ee9733a.html" target="element"> OBD-II </a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c0b36ed828645a4b4d6e515a763b66b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c0b36ed828645a4b4d6e515a763b66b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed9b4aa5782f4f50bc301ed78ee9733a.html" target="element"> OBD-II </a> </td>
																		<td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element"> OBDConn Pro Plus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-673628f9a9544d87b21d7e97cfe9325d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-673628f9a9544d87b21d7e97cfe9325d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element"> OBDConn Pro Plus </a> </td>
																		<td> <a href="../elements/id-89856de5797c4577af5f994744e259a4.html" target="element"> Fehlercodes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70dc8208a6a1420ea75a3caa7f6a86e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70dc8208a6a1420ea75a3caa7f6a86e5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element"> OBDConn Pro Plus </a> </td>
																		<td> <a href="../elements/id-89531a0b7b07439886f1f91be0144513.html" target="element"> Motortemperatur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-460ada346fa949c3a110ba9f0955c119.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-460ada346fa949c3a110ba9f0955c119.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65d16263099046cab54f0aa0e242286a.html" target="element"> OBDConn Pro Plus </a> </td>
																		<td> <a href="../elements/id-dc2dd51576c84766a67ba648a888c102.html" target="element"> Geschwindigkeit </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7fff848d656b4edd9f349f43d317502e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fff848d656b4edd9f349f43d317502e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-399739084fdd4b88859a5ea3e9f222a2.html" target="element"> CAN-Bus </a> </td>
																		<td> <a href="../elements/id-44210092d04943428458752c76d1d8ba.html" target="element"> Fahrzeugnetzwerk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-656a6ff8fc3e4199a30108e6605d9876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-656a6ff8fc3e4199a30108e6605d9876.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-399739084fdd4b88859a5ea3e9f222a2.html" target="element"> CAN-Bus </a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b514202402204aea9712e64c39f08175.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b514202402204aea9712e64c39f08175.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3879050fb32e46f395a330c8fa138d83.html" target="element"> 5G LTE-Router </a> </td>
																		<td> <a href="../elements/id-e881b440ac9a443e9f1047ca533c9c05.html" target="element"> Cloud </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0c1b8fd67eb4ec9a6aa7ff8c2200891.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0c1b8fd67eb4ec9a6aa7ff8c2200891.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e881b440ac9a443e9f1047ca533c9c05.html" target="element"> Cloud </a> </td>
																		<td> <a href="../elements/id-684a7cec7bc34966ad4783b1c3fe4d78.html" target="element"> KI Plattform </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b89ad401b1e48ed880021d6d4f3aabc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b89ad401b1e48ed880021d6d4f3aabc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-714fa8dcfdb54fbbb928ae73003fb182.html" target="element"> Versicherungs App </a> </td>
																		<td> <a href="../elements/id-c3104bb3ee40494c83d9086346a617e5.html" target="element"> Fahrverhalten einsehen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b11ebc0896bc491cbea305cd18b0046b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b11ebc0896bc491cbea305cd18b0046b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-714fa8dcfdb54fbbb928ae73003fb182.html" target="element"> Versicherungs App </a> </td>
																		<td> <a href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html" target="element"> Versicherungsnehmer </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f78e82fca04945bc84840b58145a74ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f78e82fca04945bc84840b58145a74ae.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html" target="element"> Versicherungsnehmer </a> </td>
																		<td> <a href="../elements/id-991982f4c6934b138757e0e1a1085532.html" target="element"> Fahrverhalten einsehen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b977060b65684f8aa8e8193ea4bd0d70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b977060b65684f8aa8e8193ea4bd0d70.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd85f93632e1476bb464fbf2ceaa90ca.html" target="element"> Versicherungsnehmer </a> </td>
																		<td> <a href="../elements/id-ce751b9602ff41e1b16b3e66595d7eba.html" target="element"> Tipps zur Verbesserung erhalten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-69b5b5f0027145eab3d910ac49e3c5cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69b5b5f0027145eab3d910ac49e3c5cb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-991982f4c6934b138757e0e1a1085532.html" target="element"> Fahrverhalten einsehen </a> </td>
																		<td> <a href="../elements/id-c3104bb3ee40494c83d9086346a617e5.html" target="element"> Fahrverhalten einsehen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae15507420a2456b836b52bfeb5783f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae15507420a2456b836b52bfeb5783f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f67c2754108647148537295ba04c2c03.html" target="element"> Sensoren </a> </td>
																		<td> <a href="../elements/id-ab1e5319ce3a475e980aa8f9d3588180.html" target="element"> DUT-E S7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bd0d9f8f6a24aaeb7129eae29d44180.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bd0d9f8f6a24aaeb7129eae29d44180.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f67c2754108647148537295ba04c2c03.html" target="element"> Sensoren </a> </td>
																		<td> <a href="../elements/id-135c982467974691a238e3bda36639be.html" target="element"> GNOM S7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ea040471a804483abd0173bfb54eb30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ea040471a804483abd0173bfb54eb30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f67c2754108647148537295ba04c2c03.html" target="element"> Sensoren </a> </td>
																		<td> <a href="../elements/id-518a618950cd4874ab435c150e36376b.html" target="element"> Infineon AURIXTM-basierte TCU </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>