<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C1 - Support Capability Map</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C1 - Support Capability Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f21e87db3852415d9cbaf22a79913e07.png" alt="C1 - Support Capability Map" usemap="#id-f21e87db3852415d9cbaf22a79913e07map"/>
			   <map name="id-f21e87db3852415d9cbaf22a79913e07map">
				  						<area shape="rect" coords="312,77,432,132" href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html"  target="element">
				  						<area shape="rect" coords="180,74,300,129" href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html"  target="element">
				  						<area shape="rect" coords="48,77,168,132" href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html"  target="element">

				  				<area shape="rect" coords="24,41,457,210" href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html"  target="element">
				  						<area shape="rect" coords="645,262,765,317" href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html"  target="element">
				  						<area shape="rect" coords="514,262,634,317" href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html"  target="element">
				  						<area shape="rect" coords="778,262,898,317" href="../elements/id-9b00aef710094af499efaa749be46980.html"  target="element">

				  				<area shape="rect" coords="490,226,923,395" href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html"  target="element">
				  						<area shape="rect" coords="184,262,304,317" href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html"  target="element">
				  						<area shape="rect" coords="322,262,442,317" href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html"  target="element">
				  						<area shape="rect" coords="46,262,166,317" href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html"  target="element">

				  				<area shape="rect" coords="22,226,455,395" href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html"  target="element">
				  						<area shape="rect" coords="778,77,898,132" href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html"  target="element">
				  						<area shape="rect" coords="646,77,766,132" href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html"  target="element">
				  						<area shape="rect" coords="514,77,634,132" href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html"  target="element">

				  				<area shape="rect" coords="490,41,923,210" href="../elements/id-a97f58ca5858423e876866d13362f146.html"  target="element">

				  		<area shape="rect" coords="10,10,1391,611" href="../elements/id-5581bb16c14b4a738c40319473862363.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
											    <td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
													    <td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element"> Rechnungswesen </a> </td>
															    <td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element"> Controlling </a> </td>
															    <td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element"> Kapitalanlagen </a> </td>
															    <td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
													    <td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element"> Aktuariat </a> </td>
															    <td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element"> R&#252;ckversicherung </a> </td>
															    <td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element"> Compliance </a> </td>
															    <td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
													    <td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element"> Digitale Transformation </a> </td>
															    <td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element"> IT-Infrastruktur </a> </td>
															    <td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element"> Anwendungsentwicklung </a> </td>
															    <td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
													    <td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element"> Kundenbetreuung </a> </td>
															    <td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element"> Beschwerdemanagement </a> </td>
															    <td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element"> Vertrags&#228;nderungen </a> </td>
															    <td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-08be3c9239e54f65a373fd80457aaa21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08be3c9239e54f65a373fd80457aaa21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																		<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0611528e7a524b10a3642223e1825f51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0611528e7a524b10a3642223e1825f51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																		<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53ffea3b36db40dfb8c1fd96b17062ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53ffea3b36db40dfb8c1fd96b17062ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																		<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0781116f97ef43728cbee1beb9781deb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0781116f97ef43728cbee1beb9781deb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5581bb16c14b4a738c40319473862363.html" target="element"> Support Capabilities </a> </td>
																		<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d267199c315c4b89b6153770bad5b3f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d267199c315c4b89b6153770bad5b3f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																				<td> <a href="../elements/id-7c76ff5147214c439ad37ad639cd3448.html" target="element"> Rechnungswesen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3bd00fd5a23040918d5894bd9eba9eba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3bd00fd5a23040918d5894bd9eba9eba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																				<td> <a href="../elements/id-695bd780b94e4db79c5ea8604cfb417d.html" target="element"> Controlling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ea9b326210eb4b9d91d748359392c56e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea9b326210eb4b9d91d748359392c56e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a97f58ca5858423e876866d13362f146.html" target="element"> Finanzen </a> </td>
																				<td> <a href="../elements/id-60bbec22bc964b0caa0a5e57e4469ae2.html" target="element"> Kapitalanlagen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a903ed8ab3b64002896d911c97155f75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a903ed8ab3b64002896d911c97155f75.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																				<td> <a href="../elements/id-3be11ca48be34d988c3ca8da6088eb2d.html" target="element"> Aktuariat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e921f5ae1d4489385bbdf26df4756e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e921f5ae1d4489385bbdf26df4756e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																				<td> <a href="../elements/id-c78eeb96397e4d40a08b1a01f8f1b5de.html" target="element"> R&#252;ckversicherung </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-67f22b3d3b8b48bd96d5eb8a4aca64e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-67f22b3d3b8b48bd96d5eb8a4aca64e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-07ac06d74b7e4c6d89e79ec315b6dcb1.html" target="element"> Risikomanagement </a> </td>
																				<td> <a href="../elements/id-745bd82fdd55406c8052decc1ddd3123.html" target="element"> Compliance </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b8a61882aed54a10a87d37da8b745741.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8a61882aed54a10a87d37da8b745741.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																				<td> <a href="../elements/id-9b00aef710094af499efaa749be46980.html" target="element"> Digitale Transformation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3a2d157353541ed85aa52dfa34db482.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3a2d157353541ed85aa52dfa34db482.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																				<td> <a href="../elements/id-1b28199dfaf84bfbbfb950f7544ee4e9.html" target="element"> IT-Infrastruktur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5386258c48db48f68639fcfbddb8a0e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5386258c48db48f68639fcfbddb8a0e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c6073ed533b9460baf676d10d0c2ac19.html" target="element"> IT &amp; Digitalisierung </a> </td>
																				<td> <a href="../elements/id-532e7e8bcd7b4760bf47c335a343e9e2.html" target="element"> Anwendungsentwicklung </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-09c526a864f74853ac905541db55920f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09c526a864f74853ac905541db55920f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																				<td> <a href="../elements/id-3330695a092a4aa5a5060a89623ce45f.html" target="element"> Vertrags&#228;nderungen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1dbebe3e3f604a8cb1aedb5714ddfdef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1dbebe3e3f604a8cb1aedb5714ddfdef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																				<td> <a href="../elements/id-4261f727d51a42bc8c6484d1a378d5d8.html" target="element"> Beschwerdemanagement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-73491cff2c8f4bb68ad9830b5251c6de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-73491cff2c8f4bb68ad9830b5251c6de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d93dd0aa5054b1ab078b11e4a1579d8.html" target="element"> Kundenservice </a> </td>
																				<td> <a href="../elements/id-fa36b103db32438eaf598b98b2697f1a.html" target="element"> Kundenbetreuung </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>